<h1>Home</h1>

<% if Current.user %>
  You are logged in as <%= Current.user.email %>.
<% else %>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary w-100" %>
  <%= link_to "Already a member? Sign in", signin_path, class: "btn btn-link" %>
<% end %>